* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --clr-white: #ffffff;
    --clr-sky: #12c3e3;
    --clr-red: #e43315;
    --clr-black: #000000;
    --clr-smoke: #f5f5f5;
    --fnt-family: orbitron, sans-serif;
}

li {
    list-style: none;
}

ul {
    padding-left: 0;
    margin-bottom: 0;
}

a {
    text-decoration: none;
}

.button {
    background-color: var(--clr-red);
    width: fit-content;
    padding: 0.7rem 1.5rem;
    border-radius: 30px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.button:hover {
    background-color: var(--clr-sky);
}

.button a {
    color: var(--clr-white);
    text-transform: uppercase;
    font-size: 14px;
}
.button span {
    color: var(--clr-white);
    text-transform: uppercase;
    font-size: 14px;
}
/* sociallinkes */

.sociallinkes{
    position: fixed;
    top: 50%;
    right: 0;
    transform: translateY(-50%);
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    z-index: 1020;
    border-radius: 8px 0 0 8px;
   
}
.sociallinkes a{
color: var(--clr-white);
background-color: var(--clr-red);
font-size: 18px;
padding:0.75rem;
 /* border-radius: 8px 0 0 8px; */
}
.sociallinkes a:hover{
    background-color: rgba(228, 51, 21, 0.8);
}
.sociallinkes a:first-child{
    border-radius: 8px 0 0 0;
}
.sociallinkes a:last-child{
    border-radius: 0 0 0 8px;
}
/* navbar */
header li a {
    color: var(--clr-white);
    transition: 0.4s linear;
}

header li a:hover,
header li a.active {
    color: var(--clr-sky);
}

header {
    position: absolute;
    top: 0;
    left: 0;
    z-index: 1060;
    width: 100%;
    transition: background-color 0.4s ease;
}
header.scrolling{
    position: fixed;
      transform: translateY(0);
    background-color: var(--clr-black);
}

.dropdown-menu li {
    border-bottom: 1px solid var(--clr-smoke);
}

.dropdown-item {
    padding: 0.5rem 1rem;
}

header .icons i {
    color: var(--clr-white);
    cursor: pointer;
}

.menuicon {
    background-color: var(--clr-sky);
    color: var(--clr-white);
    height: 25px;
    width: 25px;
    padding: 5px;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.closemenuicon {
    display: flex;
    align-items: center;
    justify-content: end;
    color: var(--clr-white);
}

.menudiv {
    position: fixed;
    top: -100%;
    left: 0;
    height: fit-content;
    width: 100%;
    background-color: rgba(0, 0, 0, 1);
    z-index: 1022;
    transition: 0.4s linear;
    border-bottom: 2px solid var(--clr-white);
    padding: 1rem;
}

.menulist {

    line-height: 2;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.menulist li a {
    color: var(--clr-white);
}

.menudiv.active {
    top: 0;
}
.dropdown-item.active, .dropdown-item:active {
    background-color: var(--clr-black);
}
/* addtocart */
.addtocart {
    max-width: 350px;
    width: 100%;
    height: 100vh;
    background: #fff;
    position: fixed;
    right: -100%;
    top: 0;
    z-index: 9990;
    transition: 0.3s ease;
    display: flex;
    flex-direction: column;
    border-left: 3px solid #A66A4A;
}

.addtocart.show {
    right: 0;
}

/* Header */
.cart-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 15px;
    border-bottom: 1px solid #eee;
}

.close-btn {
    cursor: pointer;
    background: #000;
    color: #fff;
    padding: 6px 8px;
    border-radius: 50%;
}

/* Body */
.cart-body {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    /* height: 100%; */
    height: 100%;
}

/* Services */
.servsection {
    padding: 10px 15px 80px;
    overflow-y: auto;
    margin-bottom: 2rem;
    flex: 1;
    font-size: 13px;
}

.cart-item {
    display: flex;
    justify-content: space-between;
    padding: 10px 0;
    border-bottom: 1px solid #eee;
}

.cart-item div {
    display: flex;
    align-items: center;
    gap: 10px;
}

.remove-item {
    cursor: pointer;
    color: red;
    font-size: 14px;
    transition: 0.2s;
}

.remove-item:hover {
    transform: scale(1.2);
}

/* Total Section */
.totalsection {
    padding: 15px;
    border-top: 1px solid #eee;
    background: #fafafa;
    font-size: 13px;
    /* margin-bottom: 4rem; */
    position: sticky;
    /* ✅ KEY FIX */
    bottom: 30px;

}

.totalsection div {
    display: flex;
    justify-content: space-between;
    margin-bottom: 8px;
}

.total {
    font-weight: bold;
    font-size: 18px;
}

/* Button */
.frmsubmit {
    display: block;
    text-align: center;
    background: #A66A4A;
    color: #fff;
    padding: 10px;
    border-radius: 5px;
    text-decoration: none;
    margin-top: 10px;
    transition: 0.3s;
}

.frmsubmit:hover {
    background: #8b5538;
}

.blur-overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.4);
    /* dark shadow */
    backdrop-filter: blur(5px);
    /* blur effect */
    opacity: 0;
    visibility: hidden;
    transition: 0.3s ease;
    z-index: 1060;
}

/* Show overlay */
.blur-overlay.show {
    opacity: 1;
    visibility: visible;
}

/* hero banner section */
.hero-banner-div {
    position: relative;
}

.hero-banner-div img {
    width: 100%;
    object-fit: cover;
    height: 100%;
}

.hero-banner-text {
    position: absolute;
    top: 0;
    left: 0;
    background: linear-gradient(to right, rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.3), rgba(255, 255, 255, 0.2));
    filter: brightness(2);
    height: 100%;
    width: 100%;
    color: var(--clr-white);
    display: flex;
    align-items: start;
    justify-content: center;
    flex-direction: column;
    font-family: var(--fnt-family);
}

.hero-banner-text h1 {
    font-size: 56px;
    text-transform: uppercase;
    margin-bottom: 0;
}

.hero-banner-text h1 span {
    color: var(--clr-sky);
}

.hero-banner-text h2 {
    font-size: 48px;
}

.hero-banner-text p {
    color: var(--clr-smoke);
    font-size: 12px;
    margin: 2rem 0;
    max-width: 320px;
    width: 100%;
}

.carousel-indicators {
    position: absolute;
    right: 100px;
    bottom: 0;
    left: auto;
    z-index: 2;
    display: flex;
    justify-content: center;
    padding: 0;
    margin-right: unset;
    margin-bottom: 100px;
    margin-left: unset;
}

.carousel-indicators [data-bs-target] {
    width: 15px;
    height: 15px;
    border-radius: 50%;
}

@media (max-width:768px) {
    .hero-banner-div img {
        height: 50vh;
    }
}

@media (max-width:992px) {
    .hero-banner-text h1 {
        font-size: 2rem;
    }

    .hero-banner-text h2 {
        font-size: 1.5rem;
    }

    .hero-banner-text p {
        margin: 0 0 1rem 0;
    }
}

@media (max-width:768px) {
    .hero-banner-text {
        justify-content: end;
        padding-bottom: 1rem;
    }
}

/* welcome  */
.welcome {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    text-align: center;
    /* background-color: rgb(224, 224, 224); */
    position: relative;
}

.welcome-number {
    position: absolute;
    top: -70px;
    left: 50%;
    transform: translateX(-50%);
    /* top: 50%;
left: 50%;
transform: translate(-50%, -50%); */
    font-size: 16em;
    font-weight: 700;
    opacity: 0.1;
    z-index: 1;
}

.welcome h1 {
    font-size: 5rem;
    text-transform: uppercase;
}

.welcome h1 span {
    color: var(--clr-sky);
    position: relative;
    z-index: 2;
}

.welcome h2 {
    font-weight: lighter;
}

@media (max-width:768px) {
    .welcome h1 {
        font-size: 3rem;
        text-transform: uppercase;
    }
}

@media (max-width:425px) {
    .welcome h1 {
        font-size: 2rem;
        text-transform: uppercase;
    }
}

/* parts section */

.parts-section {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    /* 5 items per row */
}

@media (max-width:1200px) {
    .parts-section {
        grid-template-columns: repeat(4, 1fr);
        /* 5 items per row */
    }
}

@media (max-width:992px) {
    .parts-section {
        grid-template-columns: repeat(3, 1fr);
        /* 5 items per row */
    }
}

@media (max-width:768px) {
    .parts-section {
        grid-template-columns: repeat(2, 1fr);
        /* 5 items per row */
    }
}

@media (max-width:420px) {
    .parts-section {
        grid-template-columns: repeat(1, 1fr);
        /* 5 items per row */
    }
}

.parts-div {
    position: relative;
aspect-ratio: 200 / 151;
width: 100%;
height: 100%;
}

.parts-div div {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    background-color: rgba(0, 0, 0, 0.1);
    color: var(--clr-white);
    padding: 1rem;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    text-align: center;
    transition: 0.4s linear;
}

.parts-div img {
    width: 100%;
    height: 100%;
}

.parts-div div h3 {
    text-transform: uppercase;
    transform: translateY(10px);
    transition: 0.3s linear;
}

.parts-div div span {
    font-size: 14px;
    display: none;
}

.parts-div:hover div {
    background-color: rgba(0, 0, 0, 0.3);
}

.parts-div:hover div span {
    display: block;
}

.parts-div:hover div h3 {
    transform: translateY(0);
}

/* banner above products */
.bg-banner-div {
    position: relative;
}

.bg-banner-div img {
    height: 120vh;
    object-fit: cover;
    width: 100%;
}

.banner-aboveprd {
    position: absolute;
    top: 100px;
    left: 100px;
    /* transform: translateY(50%); */
}

.banner-aboveprd .number {
    position: absolute;
    top: -100px;
    left: 100px;
    /* transform: translateY(-50%); */
    font-size: 16em;
    font-weight: 700;
    color: var(--clr-white);
    opacity: 0.4;
    z-index: 1;
}

.banner-aboveprd h1 {
    font-size: 7rem;
    text-transform: uppercase;
    color: var(--clr-white);
    position: relative;
    z-index: 2;
}

.banner-aboveprd h1 span {
    color: var(--clr-red);
}

@media (max-width:992px) {
    .banner-aboveprd h1 {
        font-size: 4rem;
    }

    .banner-aboveprd .number {
        font-size: 14em;
    }
}
@media (max-width:768px) {
.bg-banner-div img {
    height: 100vh;
}
}
@media (max-width:576px) {
    .banner-aboveprd h1 {
        font-size: 3rem;
    }

    .banner-aboveprd {
        left: 50px;
    }

    .banner-aboveprd .number {
        left: 0;
    }
}


/* products section */


.product-card {
    text-align: center;
    border-radius: 10px;
    transition: 0.3s;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    padding: 0 1rem 1rem 1rem;
    color: var(--clr-black);
    position: relative;
}

.product-card::after {
    content: "";
    position: absolute;
    bottom: 0;
    right: 0;
    height: 50%;
    width: 1px;
    background-color: rgb(224, 224, 224);
}

.product-card img {
    width: 100%;
    height: auto;
    /* margin-bottom: 15px; */
}

.product-title {
    font-size: 18px;
    margin-bottom: 10px;
}

.stars {
    color: #f4b400;
    margin-bottom: 10px;
}

.price {
    font-size: 22px;
    font-weight: bold;
    margin-bottom: 15px;
}


@media (max-width:576px) {
    .product-card {
        padding: 0 4px 4px 4px;
    }

    .product-title {
        font-size: 12px;
        margin-bottom: 0;
    }

    .stars {
        margin-bottom: 0;
    }

    .stars i {
        font-size: 10px;
    }

    .price {
        font-size: 14px;
        margin-bottom: 10px;
    }

}

/* banner below products */

.bannerbelow .bg-banner-div img {
    height: 100vh;
}

.banner-beforeprd {
    position: absolute;
    top: 100px;
    left: 100px;
}

.banner-beforeprd .number {
    position: absolute;
    top: -100px;
    left: 100px;
    /* transform: translateY(-50%); */
    font-size: 16em;
    font-weight: 700;
    color: var(--clr-white);
    opacity: 0.4;
    z-index: 1;
}

.banner-beforeprd h1 {
    font-size: 6rem;
    text-transform: uppercase;
    color: var(--clr-white);
    position: relative;
    z-index: 2;
}

.banner-beforeprd h1 span {
    color: #f4b400;
}

.banner-beforeprd h2 {
    font-weight: lighter;
    max-width: 600px;
    width: 100%;
    color: var(--clr-white);
}

@media (max-width:992px) {
    .banner-beforeprd h1 {
        font-size: 4rem;
    }

    .banner-beforeprd .number {
        font-size: 14em;
    }
}

@media (max-width:768px) {
    .banner-beforeprd h1 {
        font-size: 3rem;
    }

    .banner-beforeprd {
        left: 0;
        padding: 0 1rem;
    }

    .banner-beforeprd .number {
        left: 0;
    }
}

/* qltydiv section */

.quality-div {
    position: relative;
    height: 100%;
}

.quality-div img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.quality-div::after {
    content: "";
    position: absolute;
    inset: 0;
    background: rgba(0, 0, 0, 0.1);
    transition: 0.3s;
}

.quality-div:hover::after {
    background: rgba(0, 0, 0, 0.3);
}

.content h5 {
    font-weight: 400;
    color: var(--clr-black);
}

.content h6 {
    font-size: 12px;
    color: #aaa;
    text-transform: uppercase;
}

.content p {
    font-size: 12px;
    color: #555;
    margin-bottom: 0;
}

@media (max-width:576px) {
    .content h5 {
        font-size: 14px;
    }
}

/* brandlogo */
.brandlogo{
    position: relative;
    z-index: 2;
}
.brandlogo .parts-section {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    /* 5 items per row */
    gap: 2px;
}

@media (max-width:992px) {
    .brandlogo .parts-section {
        grid-template-columns: repeat(4, 1fr);
        /* 5 items per row */
    }
}

@media (max-width:576px) {
    .brandlogo .parts-section {
        grid-template-columns: repeat(2, 1fr);
        /* 5 items per row */
    }
}

.brandlogo .parts-div img {
    filter: grayscale(100%);
    transition: 0.4s linear;
}

.brandlogo .parts-div:hover img {
    filter: grayscale(0);
}

/* testimonial */
.whyus .bg-banner-div img {
    height: 80vh;
    object-fit: cover;
    width: 100%;
}

/* Section Background */
.testimonial-section {
    background: #f4f4f4;
}

.testimonial-section .container {
    transform: translateY(-50px);
}

/* Title */
.testimonial-title {
    font-size: 60px;
    font-weight: 800;
    color: #f4b400;
    letter-spacing: 2px;
}

/* Card Style */
.testimonial-card {
    background: #ffffff;
    transition: 0.3s;
    min-height: 250px;
}


/* Image */
.testimonial-img {
    width: 60px;
    height: 60px;
    border-radius: 50%;
    object-fit: cover;
}

/* Text */
.testimonial-text {
    font-size: 15px;
    color: #555;
    line-height: 1.7;
    margin-bottom: 0;
    font-family: var(--fnt-family);
}

@media (max-width:768px) {
    .whyus .bg-banner-div img {
        height: 60vh;
    }
}

@media (max-width:576px) {
    .whyus .banner-beforeprd h1 {
        font-size: 2.5rem;
    }

    .testimonial-text {
        font-size: 12px;

    }
}

/* footer */
.main-footer {
    background: #111;
    color: #ccc;

}

.footer-row {
    border-bottom: 1px solid #222;
    padding-bottom: 1rem;
}

.footer-col {
    padding: 0 30px;
    position: relative;
}

/* Vertical Divider Lines */
.footer-col:not(:last-child)::after {
    content: "";
    position: absolute;
    right: 0;
    top: 0;
    height: 100%;
    width: 1px;
    background: #222;
}

/* Logo */
.footer-logo {
    width: 140px;
    margin-bottom: 20px;
}

/* Text */
.footer-text {
    font-size: 14px;
    line-height: 1.7;
    width: 100%;
    max-width: 500px;
    color: #888;
}

/* Titles */
.footer-title {
    color: #fff;
    font-size: 22px;
    margin-bottom: 20px;
}

/* Links */
.footer-links,
.footer-contact {
    list-style: none;
    padding: 0;
}

.footer-links li {
    margin-bottom: 10px;
}

.footer-links a {
    color: #888;
    text-decoration: none;
    transition: 0.3s;
}

.footer-links a:hover {
    color: var(--clr-sky);
    padding-left: 5px;
}

/* Contact */
.footer-contact li {
    margin-bottom: 15px;
    color: #888;
}

.footer-contact i {
    color: var(--clr-sky);
    margin-right: 10px;
}

/* Social Icons */
.footer-social i {
    font-size: 18px;
    margin-right: 15px;
    cursor: pointer;
    transition: 0.3s;
}

.footer-social i:hover {
    color: var(--clr-sky);
}

/* Bottom */
.footer-bottom {
    background: #0b0b0b;
    padding: 18px 0;
    color: #777;
    font-size: 14px;
}

.footer-bottom a {
    color: var(--clr-sky);
    text-decoration: none;
}

/* small banner section */
.smallbanner{
    position: relative;
    height: 70vh;
}
.smallbanner img{
width: 100%;
height: 100%;
object-fit: cover;
object-position: right;
}
.smallbanner-text{
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    background-color: rgba(0, 0, 0, 0.3);
    display: flex;
    align-items: center;
    justify-content: center;
}
.smallbanner-text h1{
color: var(--clr-white);
 font-size: 4rem;
 margin-bottom: 2rem;
    text-transform: uppercase;
}
.smallbanner-text h6{
color: var(--clr-white);
}
@media (max-width:576px) {
    .smallbanner-text h1 {
        font-size: 3rem;
    }
}

/* about us section */
.slick-dotted.slick-slider {
margin-bottom: 0 !important;
}

.slick-dots {
/* bottom: 0 !important; */
}
.aboutus{
    position: relative;
    z-index: 2;
}
.aboutus p{
font-size: 14px;
}

.autoplay2 .wwdo > div{
   background-color: var(--clr-white);
}
.autoplay2 .wwdo > div p{
   font-size: 14px;
    
}

/* shop page product section */


.filter-box {
    background: #f6f6f6;
    padding: 25px;
    border-radius: 0;

    position: fixed;
    top: 0;
    left: -100%;

    width: 300px;
    height: 100vh;

    overflow-y: auto;
    z-index: 1050;

     overflow-y: scroll;
    scroll-behavior: smooth;
    scrollbar-width: thin;
    scrollbar-color: var(--clr-red) #ddd;

    transition: left 0.3s ease;
}

.filter-box.showing {
    left: 0;
}

@media (min-width: 992px) {

    .filter-box {
        position: sticky;
        top: 0;
        left: 0;

        width: 100%;
        height: 100vh;

        border-radius: 6px;
        transition: none;
    }

}

.price-filter {
    width: 100%;
}

.filter-btn{
    background-color: var(--clr-red);
    color: var(--clr-white);
}

.range-slider {
    position: relative;
    height: 6px;
    background: #ddd;
    border-radius: 5px;
    margin-top: 15px;
}

.range-slider input[type="range"] {
    position: absolute;
    width: 100%;
    height: 6px;
    background: none;
    pointer-events: none;
    -webkit-appearance: none;
}

.range-slider input::-webkit-slider-thumb {
    pointer-events: auto;
    width: 16px;
    height: 16px;
    background: var(--clr-red);
    border-radius: 50%;
    cursor: pointer;
    -webkit-appearance: none;
}

.range-slider input::-moz-range-thumb {
    pointer-events: auto;
    width: 16px;
    height: 16px;
    background: var(--clr-red);
    border-radius: 50%;
    cursor: pointer;
}

.shop-page-ctg li a{
    position: relative;
padding-left: 1rem;
color: var(--clr-black);
width: 100%;
}
.shop-page-ctg li a::after{
     content: "";
    position: absolute;
    left: 0;
    top: 10px;
    

    width: 6px;
    height: 6px;

    border-right: 2px solid #000;
    border-bottom: 2px solid #000;

    transform: rotate(-45deg);
}

/* TOP BAR */

.shop-top-bar {
      background-color: #f6f6f6;
    padding: 1rem;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 25px;
}

.result-text {
    font-size: 16px;
    color: #555;
    margin: 0;
}


/* SORT BUTTON */

.sort-btn {
    background: white;
    border: 1px solid #ddd;
    padding: 10px 18px;
    font-weight: 600;
    border-radius: 30px;
    width: 100%;
        display: flex;
    align-items: center;
    justify-content: space-between;
}


/* DROPDOWN */

.shop-section .dropdown-menu {
    border-radius: 8px;
    padding: 10px 0;
    width: 100%;
}

.shop-section .dropdown-item {
    padding: 10px 18px;
    font-size: 14px;
}

.shop-section .dropdown-item:hover {
    background: #f5f5f5;
}

/* Gallery page  */
.gallery-section {
    background: #f4f4f4;
}


/* FILTER BUTTONS */

.gallery-filter {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 15px;
}

   .gallery-section .filter-btn {
    background: #1c1c1c;
    color: white;
    border: none;
    padding: 12px 28px;
    border-radius: 30px;
    font-weight: 600;
    font-size: 14px;
    transition: 0.3s;
}

.gallery-section .filter-btn:hover {
    background: var(--clr-red);
}

.gallery-section .filter-btn.active {
    background: var(--clr-red);
}


/* GALLERY */

.gallery-item {
    overflow: hidden;
    position: relative;
}

.gallery-item img {
    width: 100%;
    /* height: 280px; */
    aspect-ratio: 200 / 151;
    object-fit: cover;
    transition: 0.4s;
}

.gallery-item:hover img {
    transform: scale(1.1);
}

/* contact us page  */

.contact-section {
    background: #f4f4f4;
}

/* TITLES */

.contact-title {
    font-weight: 800;
    margin-bottom: 30px;
    color: #222;
}

/* LEFT INFO BOX */

.contact-info-box {
    background: #eaeaea;
    padding: 35px;
}

.info-item {
    margin-bottom: 35px;
}

.info-item h5 {
    color: var(--clr-red);
    font-size: 22px;
    margin-bottom: 10px;
}

.info-item p {
    color: #333;
    font-size: 16px;
    line-height: 1.7;
}

/* RIGHT FORM BOX */

.contact-form-box {
    background: #eaeaea;
    padding: 35px;
}

/* INPUT STYLE */

.custom-input {
    height: 60px;
    border-radius: 40px;
    border: none;
    background: #dcdcdc;
    padding-left: 20px;
    font-weight: 500;
}

textarea.custom-input {
    height: 140px;
    border-radius: 25px;
    padding-top: 15px;
}

/* BUTTON */

.contact-btn {
    background: #111;
    color: white;
    border: none;
    padding: 14px 40px;
    border-radius: 30px;
    font-weight: 600;
    transition: 0.3s;
}

.contact-btn:hover {
    background: var(--clr-red);
}
.mapdiv{
    border: none;
    width: 100%;
    height: 450px;
}

@media (max-width:576px) {
    .contact-form-box , .contact-info-box{
    padding: 1rem;
}
.mapdiv{
    height: 250px;
}
}

/* privacy and policy page */
.privacy-section, .terms-section,.return-section {
    background: #f4f4f4;
}

.privacy-box , .terms-box, .return-box{
    background: #ffffff;
    padding: 40px;
    border-radius: 6px;
    box-shadow: 0 5px 20px rgba(0,0,0,0.05);
}

.privacy-title, .terms-title, .return-title {
    font-size: 36px;
    font-weight: 800;
    margin-bottom: 10px;
}

.privacy-date , .terms-date, .return-date{
    color: #888;
    margin-bottom: 25px;
}

.privacy-box h4, .terms-box h4 , .return-box h4{
    margin-top: 25px;
    font-size: 20px;
    color: var(--clr-red);
}

.return-box p ,.privacy-box p , .terms-box p{
    color: #444;
    line-height: 1.8;
}

.return-box ul,.privacy-box ul, .terms-box ul {
    padding-left: 20px;
}

.return-box ul li ,.privacy-box ul li , .terms-box ul li{
    margin-bottom: 8px;
}